body{
    background-color: rgb(235, 243, 24);
}
#converter{
 margin-top: 20px;
 background-color: white;
 border: 2px black;
 border-radius: 6px;
 box-sizing: border-box;
 cursor: pointer;
 display: inline;
 font-size: 14px;
 font-weight: 600;
 line-height: 20px;
 padding: 6px 16px;
 position: relative;
 text-align: center;
 touch-action: manipulation;
 vertical-align: middle;
 white-space: nowrap;
}
#clear{
    margin-top: 20px;
    background-color: white;
    border: 2px black;
    border-radius: 6px;
    box-sizing: border-box;
    cursor: pointer;
    display: inline;
    font-size: 14px;
    font-weight: 600;
    line-height: 20px;
    padding: 6px 16px;
    position: relative;
    text-align: center;
    touch-action: manipulation;
    vertical-align: middle;
    white-space: nowrap;
   }
   #converter:hover{
    background-color: green;
   }
   #clear:hover{
    background-color: green;
   }
   h1{
    margin-top: 10%;
    font-family: sans-serif;
    color:black;
   }
   input{
    display: block;
    padding: 15px;
    margin: 20px;
    margin-top: 20px;
    font-size: 1em;
    color: black;
   }